version: '3'

services:
  broker-service:
    build:
      context: ./../broker-service
      dockerfile: ./../broker-service/broker-service.dockerfile
    restart: always
    ports:
      - "8088:8088"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      DSN: "amqp://root:rootroot@rabbitmq"

  authentication-service:
    build:
      context: ./../authentication-service
      dockerfile: ./../authentication-service/authentication-service.dockerfile
    restart: always
    ports:
      - "8081:8081"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      DSN: "host=backend port=5432 user=postgres password=rootroot dbname=AUTHENTICATION sslmode=disable timezone=UTC connect_timeout=5"
    
  logger-service:
    build:
      context: ./../logger-service
      dockerfile: ./../logger-service/logger-service.dockerfile
    restart: always
    ports:
      - "8080:8080"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      DSN: "mongodb://backend:27017"
  
  leave-service:
    build:
      context: ./../leave-service
      dockerfile: ./../leave-service/leave-service.dockerfile
    restart: always
    ports:
      - "8881:8881"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      DSN: "host=backend port=5432 user=postgres password=rootroot dbname=LEAVE sslmode=disable timezone=UTC connect_timeout=5"

  employee-service:
    build:
      context: ./../employee-service
      dockerfile: ./../employee-service/employee-service.dockerfile
    restart: always
    ports:
      - "8882:8882"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      DSN: "host=backend port=5432 user=postgres password=rootroot dbname=EMPLOYEE sslmode=disable timezone=UTC connect_timeout=5"

  claim-service:
    build:
      context: ./../claim-service
      dockerfile: ./../claim-service/claim-service.dockerfile
    restart: always
    ports:
      - "8883:8883"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      DSN: "host=backend port=5432 user=postgres password=rootroot dbname=CLAIM sslmode=disable timezone=UTC connect_timeout=5"
  
