/* bootstrap icons */
.largeIcon{
  font-size: large;
}
.mediumIcon{
  font-size: medium;
}

/* Bootstrap customization */
:root {
  --nav-height: 70px; /*You HAVE To Give A Default Fallback Value*/
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #DC0015;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(220,0,21, 0.25);
}
.form-check-input:checked {
  background-color: #DC0015;
  border-color: #DC0015;
}
.form-check-input:focus {
  border-color: #DC0015;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(220,0,21, 0.25);
}
.form-select:focus {
  border-color: #DC0015;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(220,0,21, 0.25);
}

.accordion-button:focus {
  z-index: 3;
  border-color: #DC0015;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(220,0,21, 0.25);
}
.accordion-button:not(.collapsed) {
  color: white;
  background-color: #EB8B94;
  box-shadow: 0 0 0 0.25rem rgba(220,0,21, 0.25);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.page-link {
  position: relative;
  display: block;
  color: white;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.page-link:hover {
  z-index: 2;
  color: white;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.page-link:focus {
  z-index: 3;
  color: white;
  background-color: #DC0015;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(220,0,21, 0.25);
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #DC0015;
  border-color: #DC0015;
}
.page-item.disabled .page-link {
  color: white;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}
.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #DC0015;
}
.table > thead{
  color: #DC0015;
  border-color: #DC0015;
}

/* Datatables */
.pagination > li > a{
  background-color: #EB8B94 !important;
  color:white;
}
.pagination > li > a:hover{
  background-color: #DC0015 !important;
  color:white;
}

.buttons-excel{
  color: transparent !important;
  width: 40px !important;
  height: 40px !important;
  background-image: url(/static/images/excel.png) !important; 
  background-size:40px !important;
}
.buttons-pdf{
  color: transparent !important;
  width: 40px !important;
  height: 40px !important;
  background-image: url(/static/images/pdf.png) !important; 
  background-size:40px !important;
}
.buttons-excel:hover,
.buttons-pdf:hover{
  border:2px solid #DC0015 !important;
}
.dataTables_paginate,
.dataTables_length{
  margin-top: 10px !important;
}
/* fixed column */
table.dataTable thead tr>.dtfc-fixed-left,table.dataTable thead tr>.dtfc-fixed-right,table.dataTable tfoot tr>.dtfc-fixed-left,table.dataTable tfoot tr>.dtfc-fixed-right{top:0;bottom:0;z-index:3;background-color:white}
table.dataTable tbody tr>.dtfc-fixed-left,table.dataTable tbody tr>.dtfc-fixed-right{z-index:1;background-color:white}
div.dtfc-left-top-blocker,div.dtfc-right-top-blocker{border-color:#DC0015}
table.dataTable thead tr>.dtfc-fixed-left,
table.dataTable thead tr>.dtfc-fixed-right{border-color: #DC0015;}

/* bootstrap datepicker */
.table-condensed {
  width: 340px;
  height: auto;
}
.table-condensed>thead{
  background: #E66E7A;
  color:white;
}
.table-condensed>tbody>tr>td:hover{
  background-color: #DC0015 !important; 
  background: #DC0015 !important; 
  background-image: none;
}
.datepicker-switch:hover,
.prev:hover,
.next:hover{
  background-color: #DC0015 !important; 
  background: #DC0015 !important; 
  background-image: none;
}
.datepicker table tr td.highlighted {
  background: #F5C5C9;
  border-radius: 0;
}
.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
  color: white;
  background-color: #DC3545;
  background-image: none;
}
.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    background-color: #DC3545;
    background-image: -moz-linear-gradient(to bottom, #DC3545, #F5C5C9);
    background-image: -ms-linear-gradient(to bottom, #DC3545, #F5C5C9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DC3545), to(#F5C5C9));
    background-image: -webkit-linear-gradient(to bottom, #DC3545, #F5C5C9);
    background-image: -o-linear-gradient(to bottom, #DC3545, #F5C5C9);
    background-image: linear-gradient(to bottom, #DC3545, #F5C5C9);
    background-repeat: repeat-x;
    border-color: #F5C5C9 #F5C5C9 #DC3545;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.clear:hover{
  background-color: white !important; 
  background: white !important;
}

/* Custom */
.loader {
  position: relative;
  left: 50%;
  top: 50%;
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #000; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.space{
  min-height: 2em;
}
.pointer{
  cursor: pointer;
}
.pointer:hover{
  color: #DC0015;
  font-weight: bold;
}
.smaller{
  font-size:x-small;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.myLink{
  text-decoration: none;
  color:black;
}
.myLink:hover{
  color: #DC0015;
  font-weight: bold;
}

.myProfile{
  max-width: 100%;
  height: auto;
}

.myPictureFiltered{
  width: 100px;
  height: 150px;
  /* filter: sepia(100%); */
  filter: grayscale(100%);
}
.myPicture{
  width: auto;
  height: 150px;
}
.myMiniature{
  width: 1.5em;
  height: 3em;
}
.myButton{
  width: 50px;
  height: 50px;
}
.myButton:hover{
  border:2px solid #DC0015 !important;
}
.close{
  display: inline-block;
  position: relative;
}
.closeTab:after{
  position: absolute;
  top: 0;
  right: 0;
  content: "\00d7"; /* This will render the 'X' */
}

/* Theme colors */
.shadow{
  border-radius: 5px;
  border-width: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.shadowOnly{
  border-width: 0;
  box-shadow: 2px -2px 12px -3px rgba(220,0,21,0.8);
-webkit-box-shadow: 2px -2px 12px -3px rgba(220,0,21,0.8);
}
.borderRadiusTop{
  border-top-left-radius: 5px; 
  border-top-right-radius:5px; 
  border-width: 0;
}
.borderRadiusBottom{
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius:5px; 
  border-width: 0;
}
.myRedImgBG{
  background: url("/static/images/redBG.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.myMainBG{
  background-color: #DC3545;
}
.myBaseBG{
  background-color: #E7717C;
}
.myTint1BG{
  background-color: #E1515F;
}
.myTint2BG{
  background-color: #E66E7A;
}
.myTint3BG{
  background-color: #EB8B94;
}
.myTint4BG{
  background-color: #F0A8AF;
}
.myTint5BG{
  background-color: #F5C5C9;
}
.myTint6BG{
  background-color: #FAE2E4;
}
.myMainTextColor{
  color: #DC3545;
}
.myBaseTextColor{
  color: #E7717C;
}
.myTint1TextColor{
  color: #E1515F;
}
.myTint2TextColor{
  color: #E66E7A;
}
.myTint3TextColor{
  color: #EB8B94;
}
.myTint4TextColor{
  color: #F0A8AF;
}
.myTint5TextColor{
  color: #F5C5C9;
}
.myTint6TextColor{
  color: #FAE2E4;
}
.myBlueTextColor{
  color: #3587DC;
}
.myHarmonyBlue{
  background-color: #3587DC;
}
.myHarmonyGreen{
  background-color: #45DC35;
}
.myHarmonyTurquoise{
  background-color: #35DCCC;
}
.contener{
  width: 100%;
  height: 100%;
  position: relative;
}
.box{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 9;
  background-color: #3587DC;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: var(--nav-height);
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  display: block;
}

.side-nav-link{color: #DC3545;}
.side-nav-link:hover{
  color:#fff;
  background-color: #E66E7A;
}
.side-nav-link:active{
  color:#fff;
  background-color: #DC3545;
}

/* .sidenav a:hover {
  color: #f1f1f1;
} */
.main {
  margin-left: 100px; /* Same as the width of the sidenav */
}
/* Floating div
.contener{
  width: 600px;
  height: 400px;
  position: relative;
  margin-right: 20px;
}
.box{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;  
}
.stack-top{
    z-index: 9;
    margin: 20px; 
}
*/

/* Circle */
.circleBlue { 
  width: 10px;
  height: 10px;
  background: #3587DC; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
 }
 .circleTurquoise { 
  width: 10px;
  height: 10px;
  background: #35DCCC; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
}
.circleBlack { 
  width: 10px;
  height: 10px;
  background: #515151; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
}
/* Zoom */
.zoomOut{
  transform-origin: center 0;
  transform: scale(0.8);
}
.zoomOut9{
  transform-origin: center 0;
  transform: scale(0.9);
}

/* Back to top */
.back-to-top {
  position: fixed;
  bottom: -40px;
  right: 40px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #3587DC;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.back-to-top:focus {
  color: #fff;
}
.back-to-top.show {
  bottom: 40px;
  right: 40px;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.back-to-top.show:hover {
  color: #fff;
  bottom: 30px;
  opacity: 1;
}
.arrow {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
  position: absolute; width: 12px; height: 12px; background-size: contain;
  transform: rotate(-90deg);
  top: 30%;
  left: 40%;
}
.arrow:nth-child(2){
  top: 42%;
}