/* Bootstrap customization */
  .nav-link{color: #DC3545;}
  .nav-link:hover{color:#DC0015;}

  /* bootstrap icons */
  .largeIcon{
    font-size: large;
  }
  .mediumIcon{
    font-size: medium;
  }

  /* bootstrap datepicker */
  .table-condensed{
    width: 100%;
    padding: 11px 13px;
    margin: 20px;
  }

  .table-condensed>thead{
    background-color: #3544DC;
    color: white;
  }

  .clear:hover{
    background-color: white !important; 
    background: white !important;
  }

  .datepicker-switch:hover,
  .prev:hover,
  .next:hover{
    background-color: #3544DC !important; 
    background: #3544DC !important; 
    background-image: none;
    font-size: 18px;
  }
  .table-condensed>tbody>tr>td:hover{
    background-color: #3544DC !important; 
    background: #3544DC !important; 
    background-image: none;
  }

 

  /* Custom */
  .space{
    min-height: 2em;
  }
  .pointer{
    cursor: pointer;
  }
  .pointer:hover{
    color: #DC0015;
    font-weight: bold;
  }
  .smaller{
    font-size:x-small;
  }
  .hide{
    display: none;
  }
  .myLink{
    text-decoration: none;
  }

  .myPicture{
    width: auto;
    height: 300px;
  }

  /* Theme colors */
  .myMainBG{
    background-color: #DC3545;
  }

  .myBaseBG{
    background-color: #E7717C;
  }

  .myTint1BG{
    background-color: #E1515F;
  }
  .myTint2BG{
    background-color: #E66E7A;
  }
  .myTint3BG{
    background-color: #EB8B94;
  }
  .myTint4BG{
    background-color: #F0A8AF;
  }
  .myTint5BG{
    background-color: #F5C5C9;
  }
  .myTint6BG{
    background-color: #FAE2E4;
  }

  .myHarmonyBlue{
    background-color: #3544DC;
  }
  .myHarmonyGreen{
    background-color: #45DC35;
  }
  .myHarmonyTurquoise{
    background-color: #35DCCC;
  }
